<h1>Ilmo 2.0</h1>

<h2>Courses</h2>
<ul>
  <% @courses.each do |course| %>
	<li><%= link_to course.name,
              :controller=> "courses",
              :action=> "show",
              :id => course.id %></li>
  <% end %>
</ul>
