<html>
  <head>
    <title>Ilmo 2.0</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <h1>Ilmo 2.0</h1>

    <%= yield %>

    <hr/>
    Page was created at <%= pagecreatetime %>

  </body>
</html>