<h2><%= @course_ins.course.name %></h2>

<%= @course_ins.name %><br/>

<%= link_to "Back", :controller=> "courses",
                :action=> "show",
                :id => @course_ins.course_id  %><br/>

<ul>
  <% @course_ins.exercise_groups.each do |ex_group| %>
  <li>
    <%= link_to ex_group.name,
        course_course_instance_exercise_group_url(ex_group.course_instance.course, ex_group.course_instance, ex_group) %>
  </li>
  <% end %>
</ul>



<% #  @course_ins.exercise_groups.each do |ex_group| %>
  <% #  user_count = count_users_in_ex_group(exgroup) %>

<% # end %>
<% #= image_tag "http://chart.apis.google.com/chart?cht=p3&chd=t:90,10&chs=250x100&chl=AAA|BBB" %>

